span.loader {
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1.3s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}