nav {
    background-color: var(--primary-color);
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    height: 10vh;
    padding: 0 8vh;

    box-shadow: 0 10px 100px 20px var(--shadow-color);

    margin-bottom: 3.5vh;
    
    a, ul a, ul span {
        margin: 1vh;
        color: var(--text-color);
        text-decoration: none;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            text-decoration: underline;
        }
    }

    ul span.authenticated-divisor { border: solid thin }
}

@media (max-width: 600px) {
    nav {
        justify-content: center;
        height: fit-content;

        a, ul {
            padding: 1vh;
        }
    }
}